<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>你好，我是武汉陈伟霆</h1>
    <hr color="blue" size="15">
    <form action="/Login" method="post">
        <div>
            <dr>
                <span>用户名：</span>
                <input name="username" type="text">
            </dr>
        </div>
        <div>
            <dr>
                <span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
                <input name="password" type="password">
            </dr>
        </div>
        <div>
                <input type="submit" value="登录">
                <input type="reset" value="重置">
        </div>
    </form>
</body>
</html>
