<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
    <h1>屠龙宝刀，点击就送</h1>
<body>
    <hr size = 50 color = red >
    <h1 color = red>是兄弟就来砍我吧，我是渣渣灰 </h1>
    <form action="/login" method="post">
        <div>
            <span>用户名：</span>
            <input name = "username" type = "text">
            <br>
        </div>
        <div>
            <span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
            <input name = "password" type ="password">
            <br>
        </div>
        <div>
            <input type = "submit" value="登录">
            <input type = "reset" value="重置">
        </div>
    </form>




</body>
</html>